rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read, write: if true;
    }
    match /categories/{categoryId} {
      allow read, write: if true;
    }
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /orders/{orderId} {
      // Allow a user to create an order
      allow create: if request.auth != null;
      // Allow a user to read their own order
      allow read, update: if request.auth.uid == resource.data.userId;
      // Allow a user to list only their own orders
      allow list: if request.query.where.userId == request.auth.uid;
    }
    // Allow for test writes to check DB connection
    match /_test_writes/{userId} {
      allow write: if request.auth.uid == userId;
    }
  }
}
